@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

main {
  position: relative;
}

/* H E A D E R */

.header {
  max-width: 1200px;
  background-color: #000;
  height: 100%;
  margin: 0 auto;
  position: sticky;
  z-index: 9999;
  top: 0;
}
/* N A V  */
.nav {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo img {
  width: 80px;
  margin-right: 30px;
}
/* N A V - L E F T */
.nav-left-col {
  display: flex;
  align-items: center;
}
.nav-left-list {
  display: flex;
}

.nav-left-link > a {
  color: grey;
  transition: 0.3 ease-in;
  font-weight: bold;
}

.nav-left-link > a:hover {
  color: #fff;
}

.nav-left-link:not(:last-child) {
  margin-right: 30px;
}
/* N A V  - R I G H T */

.nav-right-list {
  display: flex;
  align-items: center;
}

.nav-right-link:not(:last-child) {
  margin-right: 30px;
}

.nav-right-link a > img {
  width: 35px;
}

/* H E R O */

.hero-image {
  position: relative;
  top: -130px;
}

.hero img {
  width: 100%;
}

.hero-logo {
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translateX(-50%);
  width: 20%;
  min-width: 300px;
  min-height: 130px;
  max-height: 120px;
  object-fit: contain;
}

.hero-logo img {
  width: 300px;
}

/*  SECTION INFO */

.section-info-container {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 60px;
}

.section-info-image img {
  width: 900px;
  margin-left: -280px;
}
.section-info-text {
  padding: 50px;
}
.section-info-text p {
  margin-block: 20px;
  line-height: 1.5;
}

.sectino-info-text-logo {
  display: flex;
  align-items: center;
}

.sectino-info-text-logo img {
  width: 150px;
  margin-right: 10px;
  cursor: pointer;
}

/* SECTION NEWS */

.section-news-container {
  padding-block: 60px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.section-news-container h1 {
  margin-bottom: 50px;
}

.section-news-wrapper {
  width: 100%;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.section-news-box-image img {
  width: 100%;
}

.section-news-box-text h4 {
  color: palevioletred;
  margin-block: 15px;
}

.section-news-box-text h3 {
  font-weight: 500;
}

.section-news-container button {
  margin-top: 50px;
  background-color: #2d85f3;
  padding: 1.2em 2em;
  color: #fff;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  line-height: 1em;
  text-transform: uppercase;
}

/* SECTION CLAN WAR */

.section-clan-war {
  position: relative;
  color: #fff;
}

.section-clan-war img {
  width: 100%;
}

.section-clan-war-container {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
}

.section-clan-war-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-clan-war-text p {
  margin-block: 25px;
  line-height: 1.5;
}

.clan-war-list {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.clan-war-list li {
  margin-right: 10px;
  cursor: pointer;
}

.clan-war-list li > img {
  width: 30px;
  height: 30px;
  object-fit: cont;
}

.section-clan-war-image {
  width: 100%;
}

.section-clan-war-image img {
  width: 700px;
  margin-right: -150px;
}

/* SECTION SLIDER */
